body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --cards: #1E2A47;
  --secondary: #141D2F;
  --text-primary: white;
  --text-secondary: white;
  --link-color: lightblue;
}

[data-theme='light'] {
  --cards: #FEFEFE;
  --secondary: #F6F8FF;
  --text-primary: #2B3442;
  --text-secondary: #697C9A;
  --link-color: darkblue;

}
