a:link, a:visited {
    text-decoration: none;
    color: var(--link-color);
  }



.info-container {
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    box-shadow: 0 1em 2em -0.75em rgba(70, 96, 187, 0.2);
    min-height: 27em;
    height: fit-content;
    max-width: 100%;
    font-size: 16px;
    margin-top: 36px;
    margin-bottom: 24px;
    border-radius: 15px;
    transition: all 0.5s;
  }

  .user-top {
    display: flex;
  }

  .image-height {
    height: 100%;
  }
  
  #user-image {
    height: 120px;
    width: 120px;
    margin: 48px;
    object-fit: fill;
    border-radius: 50%;
  }
  
  .user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 48px;
  }

  .name-joindate-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
 
 
  #userName {
    font-size: 1.625em;
    color: var(--text-primary);
    transition: all 0.5s;
  }
  
  #joinDate {
    font-size: 0.8125em;
    color: var(--text-secondary);}
  
  #unique-handle {
    color: #0079FF;
    margin-bottom: 1.25em;
  }
  
  #user-bio {
    display: flex;
    color: var(--text-secondary);  
    margin-bottom: 2em;
    margin-right: 3.5em;

  }

  .user-bottom {
    margin-left: 216px;
  }
  
  .stat-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: var(--secondary);
    border-radius: 10px;
    margin-right: 3.5em;
    padding: 1em 2em 1em 2em;
    transition: all 0.5s;
    min-width: fit-content;
    max-width: 100%;
  }

 
  .stat-container span {
    color: var(--text-secondary);
    margin-left: 2em;
  }
  
  .stat-container h1 {
    color: var(--text-primary);
  }
  
  
  .contact-container {
    display: grid;
    grid-template: repeat(2,1fr) / repeat(2,1fr);
    grid-gap: 1em;
    margin: 2.875em 0 2.875em 0;
  }
  
  .contact-container span {
    display: flex;
    color: var(--text-secondary);  
  
  }
  
  .contact-container p {
    margin-left: 20px;
    
  }
  
  .contact-container img {
    height: auto;
    width: 20px;
  
  }

  @media only screen and (max-width: 1000px){
    .contact-container {
      display: flex;
      flex-direction: column;
      margin: 1.5em
  }
  }
  
  @media only screen and (max-width: 800px) {

    .image-height {
        height: fit-content;
    }

    .user-data {
        align-content: flex-start;
    }

    .name-joindate-container {
        flex-direction: column;
        justify-content: center;
    }

    .stat-container {
        margin: 0 1em 0 1em;
    }

    #user-bio {
        margin-right: 1em;
    }

    .user-bottom {
        margin-left: 0;
    }
  }